.DS_Store

__pycache__/
*.pyc

.venv/
venv/
mujoco_env/

.ipynb_checkpoints/

.env

*.logCode/controllers/imitation_reward/training_debug/
Results/training_debug/
baselines_DEPRL/
output_*.txt
__pycache__/
*.pyc
**/checkpoints/*
